svg{
border: 1px solid #ccc;
}
div#body {
 width: 1050px;
 border: 1px solid #ccc;
}
.main-container{
  margin-left: 10px;
  display: inline-block;
  width: 650px;
  height: 30px;
}
#main-container {
  display: inline-block;
  width: 650px;
  height: 500px;
}
.side-container{
  text-align: center;
  position: relative;
  display: inline-block;
  width: 380px;
  height: 30px;
}
#side-container {
   position: relative;
   display: inline-block;
   width: 380px;
   height: 500px;
}
#vote-chart {
   position: absolute;
   top: 0;
   left: 0;
   width: 300px;
   height: 300px;
  }
#side-details{
  position: absolute;
  top: 300px;
  left: 0;
  width: 380px;
  height: 200px;
}
#tooltip {
  font-weight: 600;
  text-shadow: 0px 0px 2px white;

  fill: black;
  stroke: none;
}
.states {
fill: #ccc;
stroke: #fff;
stroke-width:2px;
}
.states:hover {
fill: steelblue;
}
.bar-positive {
  fill: steelblue;
}

.bar-negative {
  fill: brown;
}
